
table  {
  border-collapse:collapse;
  border-spacing:0;
  text-align:center;
  vertical-align:top;
  /*display: inline-block;*/
  width:1000px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
}
table td{
  font-family:Arial, sans-serif;
  width: 10%;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-bottom: 1px solid black;
}
table th{font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  background-color: #cccccc;

}

tr:nth-of-type(even){
  background-color: #dadaff;
}
