* {
  border: 1px solid red;
}


html {
  background-color: #ffd6cc;
padding: 0 100px 0 100px;
}

h1{
  text-align: center;
  background-color: #00cc00;
}

 h2, h3 {
  text-align: center;
}

.salmonCookies{
  width: 690px;
  float: right;
}

.dogTreats{
  width: 690px;
  float: left;
}

footer{
  text-align: center;
}

table  {
  border-collapse:collapse;
  border-spacing:0;
  text-align:center;
  vertical-align:top;
  /*display: inline-block;*/
  width:1000px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
}
table td{
  width: 100px;
  font-family:Arial, sans-serif;
  width: 10%;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-bottom: 1px solid black;
}
table th{font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  background-color: #00cc00;

}

tr:nth-of-type(even){
  background-color: #80ff80;
}

.icon{
  width: 50px;
  height: 50px;
}

#dogKid {
  width: 300px;
  height: 300px;
}

#dogSalmon {
  width: 320px;
  height: 320px;
  float: right;
}

#dogHold {
  width: 300px;
  height: 300px;
 margin: 0 330px;
}
